<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action ='/signup2' method ='post'>
        <div>
            <label>ID</label>
            <input type="text" name='id'>
        </div>
        <div>
            <label>PASS</label>
            <input type="password" name="password">
        </div>
        <div>
            <label>NAME</label>
            <input type="text" name="name">
        </div>
        <input type ='submit' value="회원가입">
    </form>
    
</body>
</html>